@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

textarea:focus, input:focus{
    outline: none;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: black;
	display: flex;
	background: #232526; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	height: 100vh;
  	font-family: 'Roboto', sans-serif;
}


.container{
	
	width:100%;
	margin:100px auto 5px auto;
	box-sizing: border-box;
	
	.input_search{

		position: relative;

		input{
			display: block;
			background: rgba(255,255,255,0.2);
			color:white;
			box-sizing: border-box;
			font-size: 200%;
			font-weight: bold;
			padding:20px 50px 20px 100px;
			border:none;
			width: 100%;
		}

		span{
			position: absolute;
			top:0px;
			font-size: 200%;
			font-weight: bold;
			color:white;
			padding:20px 50px;
		}

	}


	.directory{

		width:80%;
		margin:0px auto 5px auto;
		padding:10px;
		max-width: 900px;
		box-sizing: border-box;

		.menu{
			transition: 0.3s;
			padding-bottom: 20px;
			img{  width:30px; vertical-align: bottom; }
			span{ 
				cursor: pointer; font-size: 120%; font-weight: bold; color: white;padding: 15px; opacity: 0.5; 
				&:hover{ opacity:1; }
			}

		}

		.container{
			width:calc( 100% - 20px );
			padding: 10px;
			margin-top:10px;
			font-size: 180%;
			font-weight: bold;
			color:white;

			max-height: 600px;
			overflow: auto;

			img{
				width:30px;
				vertical-align: top;
				padding-right: 16px;
			}

			div{ 
				&:hover{ opacity:1; }
				opacity:0.5;
				transition: 0.5s;
				padding: 8px 0px; cursor: pointer; 
			}

		}

	}

}


/* Helper tools  */
::-webkit-scrollbar{
width: 13px;
height: 13px;
}
::-webkit-scrollbar-thumb{
background: rgba(255, 255, 255, 0.2);
border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
background: #B3AFB3;
}
::-webkit-scrollbar-track{
background: none;
border-radius: 9px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}